@model QLTourism.Models.Customer
@{
    ViewBag.Title = "Kiểm tra đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Assets/js/jquery-2.2.4.min.js"></script>
<div class="hero_in cart_section">
    <div class="wrapper">
        <div class="container">
            <div class="bs-wizard clearfix">
                <div class="bs-wizard-step">
                    <div class="text-center bs-wizard-stepnum">Giỏ hàng</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="/Cart" class="bs-wizard-dot"></a>
                </div>

                <div class="bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">Thanh toán</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="/Cart/Checkout" class="bs-wizard-dot"></a>
                </div>

                <div class="bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">Hoàn thành!</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>
            </div>
            <!-- End bs-wizard -->
        </div>
    </div>
</div>
<!--/hero_in-->

<div class="bg_color_1">
    <div class="container margin_60_35">
        <div class="row">

            <div class="col-lg-8">
                <div class="box_cart">
                    <div class="form_title">
                        <h3><strong>1</strong>Thông tin chi tiết của bạn</h3>
                    </div>
                    <div class="step">
                        <div class="row">
                            <input type="hidden" id="customerId" value="@Session["ClientidUser"]"/>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Họ tên</label>
                                    <input type="text" class="form-control" id="name" name="name" value="@Html.DisplayFor(model => model.name)" readonly>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" id="email" name="email" value="@Html.DisplayFor(model => model.email)" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input type="text" id="phone" name="phone" class="form-control" value="@Html.DisplayFor(model => model.phone)" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!--End step -->

                    <div class="form_title">
                        <h3><strong>2</strong>Địa chỉ thanh toán</h3>
                    </div>
                    <input type="hidden" id="BookingInfor" value="@ViewBag.Booking">
                    <div class="step">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Quốc gia</label>
                                    <input type="text" id="country" name="country" class="form-control" value="@Html.DisplayFor(model => model.country)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Thành phố</label>
                                    <input type="text" id="city" name="city" class="form-control" value="@Html.DisplayFor(model => model.city)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input type="text" id="address" name="address" class="form-control" value="@Html.DisplayFor(model => model.address)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Ghi chú</label>
                                    <input type="text" id="customerNote" name="customerNote" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                        <!--End row -->
                    </div>
                </div>
            </div>
            <!-- /col -->

            <aside class="col-lg-4" id="sidebar">
                <div class="box_detail">
                    <div id="total_cart">
                        Tổng tiền: <span name="totalprice" class="float-right">@String.Format("{0:n0}", @ViewBag.totalprice) VNĐ</span>
                    </div>
                    <ul class="cart_details">
                        <li name="travelerCount">Số gói <span>@ViewBag.total</span></li>
                    </ul>
                    <button id="payBtn" class="btn_1 full-width purchase">Thanh toán</button>
                    <div class="text-center"><small>Tại bước này bạn chưa mất tiền!</small></div>
                </div>
            </aside>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<script>
    $(document).ready(function () {
        $('#payBtn').click(function () {
            let bookingInfor = $("#BookingInfor").val();
            let customerId = $("#customerId").val();
            let city = $("#city").val();
            let country = $("#country").val();
            let address = $("#address").val();
            let customerNote = $("#customerNote").val();
            var data = {
                "bookingInfor": bookingInfor,
                "customerId": customerId,
                "country": country,
                "city": city,
                "address": address,
                "customerNote": customerNote
            };
            $.ajax({
                url: "/Cart/FinishBooking",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if (response.Success == 1) {
                        window.location.href = "/Cart/Finish"
                    }
                },
                error: function () {
                    alert('Đã xảy ra lỗi');
                }
            });
        });
    });
</script>



