@model QLTourism.Models.Booking
@{ 
    ViewBag.Title = "Đơn hàng #" + Model.bookingNo;
}

<div class="hero_in cart_section">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Thông tin đơn hàng #@Model.bookingNo</h1>
            <h4 class="fadeInUp"><span></span>Đặt ngày @{string a = Model.bookingDate.ToString().Split(' ')[0]; @a}</h4>
        </div>
    </div>
</div>

<div class="bg_color_1">
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-8">
                <div class="box_cart">
                    <div class="form_title">
                        <h3><strong>1</strong>Thông tin chi tiết của bạn</h3>
                    </div>
                    <div class="step">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Họ tên</label>
                                    <input type="text" class="form-control" id="name" name="name" value="@ViewBag.Tk.name" readonly>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" id="email" name="email" value="@ViewBag.Tk.email" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input type="text" id="phone" name="phone" class="form-control" value="@ViewBag.Tk.phone" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!--End step -->

                    <div class="form_title">
                        <h3><strong>2</strong>Thông tin giao hàng</h3>
                    </div>
                    <input type="hidden" id="bookingId" value="@Model.id" />
                    <div class="step">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Quốc gia</label>
                                    <input type="text" id="country" name="country" class="form-control" value="@Html.DisplayFor(model => model.country)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Thành phố</label>
                                    <input type="text" id="city" name="city" class="form-control" value="@Html.DisplayFor(model => model.city)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input type="text" id="address" name="address" class="form-control" value="@Html.DisplayFor(model => model.address)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Ghi chú</label>
                                    <input type="text" id="customerNote" name="customerNote" class="form-control" value="@Html.DisplayFor(model => model.customerNote)">
                                </div>
                            </div>
                        </div>
                        <!--End row -->
                    </div>
                    <div class="form_title">
                        <h3><strong>3</strong>Các tour</h3>
                    </div>
                    <input type="hidden" id="BookingInfor" value="@ViewBag.Booking">
                    <div class="step">
                        @foreach (var item in Model.BookingDetails)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    @item.Package.pkgName
                                </div>
                                <div class="col-md-6">
                                    @item.bookingInfor
                                </div>
                            </div>
                        }
                        <!--End row -->
                    </div>
                </div>
            </div>
            <aside class="col-lg-4" id="sidebar">
                <div class="box_detail">
                    <button id="updateBtn" class="btn_1 full-width purchase">Cập nhật thông tin giao hàng</button>
                    <a href="/userbooking/index"><button id="payBtn" class="btn_1 full-width">Trở về</button></a>
                </div>
            </aside>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<script src="~/Assets/js/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#updateBtn').click(function () {
            let city = $("#city").val();
            let country = $("#country").val();
            let address = $("#address").val();
            let customerNote = $("#customerNote").val();
            let bookingId = $("#bookingId").val();
            var data = {
                "id": bookingId,
                "country": country,
                "city": city,
                "address": address,
                "customerNote": customerNote
            };
            $.ajax({
                url: "/UserBooking/Edit",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if (response.Success == 0) {
                        window.location.href = "/ClientLogin/LoginPage"
                    }
                    else if (response.Success == 1) {
                        alert('Cập nhật thành công')
                    }
                    else {
                        alert('Cập nhật thất bại, xảy ra lỗi!')
                    }
                },
                error: function () {
                    alert('Đã xảy ra lỗi không xác định!');
                }
            });
        });
    });
</script>
