@model PagedList.IPagedList<QLTourism.Models.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý tài khoản</h2>

<p class="float-right">
    @*@Html.ActionLink("Create New", "Create")*@
    <a class="btn btn-primary" href="@Url.Action("Create", "User")" role="button">Thêm mới</a>
</p>
@if (Session["Error"] != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@Session["Error"]</div>
    Session["Error"] = null;
}
@using (Html.BeginForm())
{
    <p>
        Tìm kiếm theo tên nhân viên: @Html.TextBox("searchString", ViewBag.currentFilter as string)
        <input type="submit" value="Tìm" class="btn btn-primary" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Tên tài khoản
        </th>
        <th>
            @Html.ActionLink("Tên nhân viên", "Index", new { sortOrder = ViewBag.SapXepTheoTen, currentFilter = ViewBag.currentFilter })
        </th>
        <th>
            Email
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Ảnh đại diện
        </th>
        <th>
            Quyền hạn
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @if (item.gender == true)
                {
                    <p>Nam</p>
                }
                else
                {
                    <p>Nữ</p>
                }
            </td>
            <td>
                @if (item.avatar != null)
                {
                    string ImagePath = "~/Areas/Admin/wwwroot/avatar/" + item.avatar;
                    <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                }
                else
                {
                    <img src="~/Areas/Admin/wwwroot/avatar/user.png" width="100" class="img-thumbnail" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.name)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}