@model QLTourism.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package.pkgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package.pkgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripType.ttName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripType.ttName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookingNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookingNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.travelerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.travelerCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
