@model IEnumerable<QLTourism.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package.pkgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripType.ttName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.travelerCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Package.pkgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TripType.ttName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookingNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.travelerCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
