@model QLTourism.Models.Program

@{
    ViewBag.Title = "Programs";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Areas/Admin/Public/assets/libs/jquery/jquery.min.js"></script>

<h2>Lịch trình của tour @ViewBag.Ten</h2>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
<p>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addProgram">Thêm lịch trình</a>
    <a href="/Admin/Package/" class="btn btn-danger">Trở về</a>
</p>
<div class="modal fade" id="addProgram">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm lịch trình</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <input id="zz" name="packageId" type="hidden" value="@ViewBag.Id" />
                        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @id = "titlezz" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="summary" class="control-label col-md-2">Tóm tắt</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.summary, new { htmlAttributes = new { @class = "form-control", @id = "summaryzz" } })
                            @Html.ValidationMessageFor(model => model.summary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="detail" class="control-label col-md-2">Chi tiết</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.detail, new { htmlAttributes = new { @class = "form-control", @id = "detailzz" } })
                            @Html.ValidationMessageFor(model => model.detail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnSave" class="btn btn-primary mr-2" data-save="modal">Thêm</a>
                <a href="#" id="btnCancel" class="btn btn-danger" data-dismiss="modal">Huỷ</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editProgram">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sửa lịch trình</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="form-group">
                        <input id="editId" name="id" type="hidden" value="" />
                        <input id="zzz" name="packageId" type="hidden" value="@ViewBag.Id" />
                        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @id = "titlez" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="summary" class="control-label col-md-2">Tóm tắt</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.summary, new { htmlAttributes = new { @class = "form-control", @id = "summaryz" } })
                            @Html.ValidationMessageFor(model => model.summary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="detail" class="control-label col-md-2">Chi tiết</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.detail, new { htmlAttributes = new { @class = "form-control", @id = "detailz" } })
                            @Html.ValidationMessageFor(model => model.detail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnEdit" class="btn btn-primary mr-2" data-save="modal">Lưu</a>
                <a href="#" id="btnCancel" class="btn btn-danger" data-dismiss="modal">Huỷ</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" aria-hidden="true" id="deleteProgram">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xác nhận</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="DeleteId" name="DeleteId" type="hidden" value="" />
                <h3>Bạn có chắc chắn muốn xoá lịch trình này không?</h3>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnDelete" class="btn btn-primary mr-2" data-save="modal">Xoá</a>
                <a href="#" id="btnCancel" class="btn btn-danger" data-dismiss="modal">Huỷ</a>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
            Tóm tắt
        </th>
        <th>
            Chi tiết
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Programs)
    {
        <tr>
            <td>
                @item.title
            </td>
            <td>
                @item.summary
            </td>
            <td>
                @item.detail
            </td>
            <td>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editProgram" onclick="editz(@item.id,'@item.title','@item.summary','@item.detail')">Sửa</a>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#deleteProgram" onclick="Confirmz(@item.id)">Xoá </a>
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $("#btnSave").click(function () {
            var dataAdd = $("#addForm").serialize();
            $.ajax({
                type: "POST",
                url: "/Admin/Package/AddProgram",
                data: dataAdd,
                success: function () {
                    window.location.href = "/Admin/Package/Programs/" + "@ViewBag.Id"
                }
            })
        })

        $("#btnEdit").click(function () {
            var dataAdd = $("#editForm").serialize();
            $.ajax({
                type: "POST",
                url: "/Admin/Package/EditProgram",
                data: dataAdd,
                success: function () {
                    window.location.href = "/Admin/Package/Programs/" + "@ViewBag.Id"
                }
            })
        })

        $("#btnDelete").click(function () {
            var idz = $("#DeleteId").val();
            $.ajax({
                type: "POST",
                url: "/Admin/Package/DeleteProgram",
                data: {id: idz},
                success: function (result) {
                    window.location.href = "/Admin/Package/Programs/" + "@ViewBag.Id"
                }
            })
        })

        $("#btnCancel").click(function () {
            window.location.href = "/Admin/Package/Programs/" + "@ViewBag.Id";
        })

    })

    var Addz = function (id) {
        $("#titlezz").val('');
        $("#summaryzz").val('');
        $("#detailzz").val('');
    }

    var Confirmz = function (id) {
        $("#DeleteId").val(id);
    }
    var editz = function (id,title,summary,detail) {
        $("#editId").val(id);
        $("#titlez").val(title);
        $("#summaryz").val(summary);
        $("#detailz").val(detail);
    }


</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

