@model PagedList.IPagedList<QLTourism.Models.Slider>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý Slider</h2>

<p>
    @*Html.ActionLink("Create New", "Create")*@
    <a class="btn btn-primary" href="@Url.Action("Create","Slider")" role="button">Thêm mới</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Tìm kiếm theo tên slider: @Html.TextBox("searchString", ViewBag.currentFilter as string)
        <input type="submit" value="Tìm" class="btn btn-primary" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tên danh mục", "Index", new { sortOrder = ViewBag.SapXepTheoTen, currentFilter = ViewBag.currentFilter })
        </th>
        <th>
            Ảnh bìa
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @if (item.imagePath != null)
                {
                    string ImagePath = "~/Areas/Admin/wwwroot/slider/" + item.imagePath;
                    <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                }
                else
                {
                    <img src="~/Areas/Admin/wwwroot/slider/slider.jpg" width="100" class="img-thumbnail" />
                }

            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
