@model IEnumerable<QLTourism.Models.Category>

@foreach (var item in Model)
{
    if (item.parentId == 0)
    {
        <li>
            <span><a href="@Url.Action("ListTour","Tour", new { madm = item.id })">@item.name</a></span>
            <ul>
                @foreach (var itemz in Model)
                {
                    if (itemz.parentId == item.id)
                    {
                        <li>
                            <span><a href="@Url.Action("ListTour","Tour", new { madm = itemz.id })">@itemz.name</a></span>
                            <ul>
                                @foreach (var itemzz in Model)
                                {
                                    if (itemzz.parentId == itemz.id)
                                    {
                                        <li><a href="@Url.Action("ListTour","Tour", new { madm = itemzz.id })">@itemzz.name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </li>
    }
}

